# Configuración de la base de datos
DB_HOST=sql5.freesqldatabase.com
DB_USER=sql5784546
DB_PASSWORD=NEBq6v4FKw
DB_NAME=sql5784546
DB_PORT=3306

# Configuración JWT
JWT_SECRET=tu_clave_secreta_super_segura_cambiala_en_produccion

# Configuración del servidor
PORT=3000
NODE_ENV=production 